body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #494343;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    background-color: rgb(0, 0, 0);
    color: #f4f4f4;
    position: absolute;
    top: 35%;
    border-radius: 5px;
}

.container h1 {
    padding: 15px 15px 0px 15px;
}

.boton {
    padding: 10px 20px;
    background-color: #fc5200;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    margin-bottom: 10px;
}


.hidden {
    display: none;
}

/* Tablets */
@media (min-width: 1024px) {
    .container {
        width: 50%;
    }
}

/* PC */
@media (min-width: 1024px) {
    .container {
        width: 40%;
    }
}

/* Desk */
@media (min-width: 1200px) {
    .container {
        width: 30%;
    }
}